/* Import
========================================== */


/* Layout
========================================== */

summary, section, footer{
  margin: 25vh auto;
}

section:first-child{
  /* padding-top: 4em; */
}

section:last-child{
  margin-bottom: 0;
}

footer img{
  width: 120px;
  height: auto;
  margin: 1.5em;
}

@media only screen and (max-width: 992px) {
  footer .col-lg-3 {
    margin-top: 1.5em;
  }
}


/* Links
========================================== */
.nav .nav-link{
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 10px;
  text-align: right;
}

.nav a{
  color: #666;
}

.nav-link:focus, .nav-link:hover {
  text-decoration: none;
  color: #000;
}

.nav a:after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.nav a:hover:after {
  width: 100%;
  background: #000;
}

a{
  color: #FF4081;
}

a:hover {
    color: #C2185B;
}

/* Typography and spacing
========================================== */

h1, h2, h3, h4 {
  font-family: Georgia, serif;
  font-weight: 600;
}

.text-muted {
    color: #9E9E9E!important;
}

@media only screen and (max-width: 992px) {
  .answerating h2, .addspeaker h2, .moodslider h2, .payme h2 {
    margin-top: 1.5rem;
  }
}
